.form {
    margin: 0 100px;
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.error {
    color: #F00;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}